.dish {
  width: 450px;
  height: 460px;
  background-color: var(--main-el-color);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
}

.dish_title {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.dish_title_name {
  padding-left: 2px;
  max-width: 300px;
  /* text-overflow: "ellipsis";
  overflow: "hidden";
  height: "50px"; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish_description {
  width: 100%;
  height: 40px;
  line-height: 1.33;
  padding: 15px 0 0 5px;
  text-align: left;
  color: #b0b0b0;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish_img {
  /* width: 100%; */
  height: 240px;
  border-radius: 20px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dish_btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.dish_btn {
  width: 100%;
}
.dish_quanity {
  margin-left: 15px;
  margin-right: 15px;
}
