.table{
    width: 100px;
    height: 100px;

    background-color: #F2F5F8;
    border-radius: 10px;
    border: 2px transparent;
    border-style: solid;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #5375ff73;
}

.table:hover{
    border-color: #5374FF;
    color: #5374FF;
    cursor: pointer;
}

.table__number{
    width: auto;
    height: auto;

    text-align: center;
    font-size: 64px;
    line-height: 1.33;
    font-family: 'Lato', sans-serif;
}