.header{
    height: 40px;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    margin: 20px auto 0 auto;
}

.header_inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
