.tab{
    width: 100px;
    height: 30px;
    background-color: var(--main-bg-color);
    border: 2px transparent;
    border-style: solid;
    border-radius: 20px;
}
.tab_active{
    border-color: #5374FF;
}

.tab:hover{
    border-color: #5374FF;
    cursor: pointer;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #5374FF;
    margin: 0;
}