.About{
    width: 100%;
    height: auto;
}
.About__discounts{
    max-width: 1400px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--main-el-color);
    border-radius: 20px;
}
.About__discount-block{
    display: flex;
    flex-direction: row;
    gap:10px;
    width: 30%;
    min-width: 280px;
}
.About__title{
    text-align: start;
    font-size: larger;
    line-height: 1.5;
    font-weight: 600;
    color: #3A3532;
}
.About__description{
    text-align: start;
    white-space: pre-wrap;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #706F6F;
}
.About__logo{
    flex-shrink: 0;
    height: 42px;
    width: 42px;
    margin-top: 5px;
    background-repeat: no-repeat;
}
.About__text-block{
    display: flex;
    flex-direction: column;
}

.About__info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.About__info-container{
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 210px 210px;
    grid-template-rows: 120px 120px;
    grid-gap: 30px;

    padding: 20px 20px 20px 20px;
    background-color: var(--main-el-color);
    border-radius: 20px;
}
.About__info-block{
    height: 120px;
    width: 210px;
    display: flex;
    flex-direction: column;
}

.About__contacts-container{
    width: 142px;
    height: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly; 

    background-color: var(--main-el-color);
    border-radius: 20px;
}

.About__contact{
    width: 50px;
    height: 50px;
    /* background-color: black; */
}

@media only screen and (max-width:840px){
.About__discounts{
    width: 100%;
    flex-direction: column;
}}